

  
  .zero {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .zero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .zero-text h1 {
    font-size: 5rem;
    font-weight: 1000;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .zero img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  
  .memories{
    width: 90%;
    position: relative;
    
    top: -200px;

  }
  .memories p{
    width: 70%;
    position: relative;
    left: 300px;
    margin-top: 40px;
    display: flex;
  }

  
/* ------------- */
  

.memo{
  margin-top: -140px;
  position: relative;
}
  .second {
    margin: 4rem 6rem;
    margin-top: 70px;
  }
  
  .second-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
  }
  .second-text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
  }
  .second-text h2 {
    padding-bottom: 1rem;
  }
  .image1 {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
  }
  .image1 img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
  }
  
  .image1 img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
  }
  
  .Third-page-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
  }
  
  
  